/* Variables */
/* Mixins */
.title, #results-top-title, #selection-box {
  color: #333333;
  margin: 5px;
  font-family: Roboto;
  text-align: center; }

#address, #map, #selection-box, #go-button, #next-button, #reset-button, .results-box {
  margin: 5px;
  border: none;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); }

#go-button, #next-button, #reset-button {
  background-color: #be01d7;
  color: white;
  font-family: Roboto;
  border-radius: 4px;
  font-size: 14px; }

.nav-title, #results-footer, #place-results {
  font-family: "Mr Dafoe", cursive;
  color: #be01d7; }

/* Background */
body {
  background: url(/assets/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.opaque-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4); }

/* Nav bar */
.nav-title {
  font-size: 38px;
  margin-top: 5px;
  margin-bottom: 0px;
  display: inline-block; }

nav.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: transparent;
  border: none; }

/* Titles */
#top-title {
  margin-top: 5px; }

#results-top-title {
  margin-top: 0;
  text-align: center; }

/* Search Function */
#address {
  border-radius: 0px;
  font-family: Roboto; }

#search-and-go {
  align-items: center;
  padding: 0px 2px; }

/* Map and results */
#map {
  height: 500px;
  width: 100%;
  margin: 0px; }

#selection-box {
  margin: 0;
  background-color: fff;
  display: none; }

.scrollable-menu {
  height: auto;
  max-height: 446px;
  overflow-x: hidden;
  padding-left: 0;
  max-width: 250px; }

.input-group-addon:first-child {
  border: 0;
  background: white;
  border-radius: 0; }

li.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 0px; }

/* Buttons */
#go-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 0px; }

#next-button {
  display: none;
  margin: 5px 0px; }

#reset-button {
  display: none;
  position: absolute;
  right: 5px; }

/*results */
#results-section {
  display: none; }

.results-box {
  margin: 0;
  background-color: #fff;
  height: auto;
  overflow-x: hidden;
  min-height: 200px;
  max-height: 40vh;
  max-width: 30vw;
  text-align: center;
  padding-left: 0;
  padding: 10px;
  padding-bottom: 25px; }

.results-sub-title {
  text-align: center;
  padding: 10px; }

#results-page-items {
  background-color: transparent;
  border: none; }

hr {
  width: 60% !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border: 0 !important;
  border-top: 1px solid #333 !important; }

/*footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#results-footer {
  font-size: 80px;
  margin: 30px;
  color: #be01d7;
  text-align: center; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent; }

/*results */
#place-results {
  font-size: 20px; }

.results-sub-title {
  margin-bottom: 30px; }

#place-results {
  font-size: 60px;
  margin: 20px;
  color: #be01d7;
  text-align: center; }

/*phone adjustments */
@media only screen and (max-width: 769px) {
  .nav-title {
    font-size: 32px; }

  #map {
    max-height: 30vh;
    margin: 5px 0px;
    padding: 20px; }

  #selection-box {
    max-height: 35vh;
    width: 100%;
    max-width: 100%;
    margin: 0px; }

  #next-button {
    width: 100%;
    height: 40px; }

  #reset-button {
    height: 40px; }

  .results-box {
    max-height: 22vh;
    min-height: 10vh;
    width: 100%;
    max-width: 100%;
    margin: 5px; }

  #results-footer {
    display: none; }

  #place-results {
    font-size: 50px;
    margin: 10px; } }
/* Bug-fixing */
.row {
  margin-left: 0;
  margin-right: 0; }

/* When starting to use sass, type into console: sass --watch main.sass:main.css */

/*# sourceMappingURL=main.css.map */
